<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/blog">Blog</a>
        <a href="/blog/create">Add Blog</a>
        <a href="/user/signup">Sign Up</a>
        <a href="/user/login">Login</a>
    </nav>
    <form action="/blog/create" method="post" id="blogForm">
        <input type="text" placeholder="Enter Blog Title" name="title" id="title">
        <input type="text" placeholder="Enter Blog Content" name="content" id="content">
        <input type="text" placeholder="Enter Blog Category" name="category" id="category">
        <input type="url" placeholder="Enter Blog Image" name="image" id="image">
        <input type="submit" value="Blog">
    </form>
</body>
</html>