<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blog/create" method="post">
        <input type="text" placeholder="Enter Blog Title" name="title" id="title">
        <input type="text" placeholder="Enter Blog Content" name="content" id="content">
        <input type="text" placeholder="Enter Blog Category" name="category" id="category">
        <input type="url" placeholder="Enter Blog Image" name="image" id="image">
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>